/* зовнішні стилі */


/* селектор тегу 0001*/
h1 {
    color: olivedrab;
     font-family: initial;  /*вимкнути успадкування */
    border: inherit; /* увімкнути успадкування */
}

p {
    font-family: serif;
}

a{
color: inherit;
text-decoration: none;
}


/* каскадність - якщо одна і та сама властивість задана для одного і того самого селектора, то пріоритетна, та що остання */

/* специфічність важливіша за каскадність */

/* спадкування - властивість переймати властивостей у батьківського тега */

/* селектор ідентифікатора 0100*/
#subscribe-button {
    color: rgb(235, 102, 54);
}


/* селектор класу 0010 НАЙКРАЩИЙ ВАРІАНТ*/
.annotation {
    font-size: 10px;
}

body {
    font-family: sans-serif; 
    border: 4px salmon solid;
    text-align: center;
}